body {
  background-image: url("https://images.wallpapersden.com/image/wxl-new-minions-minimalist-2020_70396.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

header {
  height: 10vh;
  font-size: 2em;
  text-align: center;
  background-color: rgb(168, 255, 5);
  line-height: 10vh;
}

body > div {
  padding: 40px;
}

textarea {
  display: block;
  width: 80%;
  height: 10vh;
  padding: 1rem;
  font-size: 18px;
  margin: auto;
  border: 2px outset;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.output {
  width: 80%;
  border: 2px outset;
  margin: 40px auto;
  padding: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

button {
  margin: 20px auto;
  display: block;
  padding: 10px 30px;
  box-shadow: 0 5px 2px rgba(55, 110, 3, 0.6);
  background-color: rgb(168, 255, 5);
  cursor: pointer;
  font-weight: 700;
  border: none;
}

button:focus {
  outline: none;
}

button:active {
  outline: none;
  box-shadow: none;
  position: relative;
  top: 5px;
}

.output strong {
  font-size: larger;
}

#output-div {
  width: 90%;
  margin: auto;
  height: 10vh;
  padding: 1rem;
  font-size: 20px;
  background-color: whitesmoke;
}
